.thumbnail-image {
    height: 200px;
}

.center {
    width: 80%;
    margin: auto;
}

.banner {
    display: block;
    margin: auto;
}

.tag-pill {
    display: block;
    margin: auto;
    width: 10%;
    margin-top: 20px;
}

.wrapper {
    margin-top: 15px;
}

.center-heading {
    text-align: center;
    width: 80%;
    margin: auto;
}
